.container {
  margin-top: 2vh;
}

.purchase {
  margin-left: 20vh;
  width : 50vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
}

.show-grid {
  width: 60vh;
  margin-left: 1vh;
  padding-bottom: 1.0em;
}

.item-details-button{
  color: black;
  background-color: white;
  border-color: white;
  margin-left: 2vh;
  width: 22vh;
}

.item-details-button:focus{
  background-color: white;
  border-color: white;
  color: black;
}

.card{
  margin-top: 1vh;
  margin-left: 2vh;
  width: 46vh;
}

.card2{
  margin-top: 1vh;
  margin-left: 2vh;
  width: 46vh;
}

.promoLabel{
  margin-left: 2vh;
}
.media{
  width: 30vh;
  margin-left: 0vh;
}

.price-strike {
  text-decoration-line : line-through;
  color: grey; 
}

.promo-code-button{
  color: black;
  background-color: white;
  border-color: white;
  margin-left: 2vh;
  width: 24vh
}

.apply-button{
  background-color: rgb(51, 219, 79);
  color: rgb(252, 248, 248);
  border-color: white;
}