.container {
  margin-top: 20px;
  margin-left: 200px;
}

.purchase {
  margin-left: 20px;
  width : 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
}

.show-grid {
  width: 2000px;
  margin-left: 10px;
  padding-bottom: 1.0em;
}

.item-details-button{
  color: black;
  background-color: white;
  border-color: white;
  margin-left: 15px;
}

.item-details-button:focus{
  background-color: white;
  border-color: white;
  color: black;
}

.card{
  margin-top: 10px;
  margin-left: 20px;
  width: 450px;
}

.media{
  width: 300px;
  margin-left: 0px;
}

.price-strike {
  text-decoration-line : line-through;
  color: grey; 
}

.promo-code-button{
  color: black;
  background-color: white;
  border-color: white;
  margin-left: 15px;
}

.apply-button{
  background-color: rgb(51, 219, 79);
  color: rgb(252, 248, 248);
  border-color: white;
}