#siblings {
  transform: rotate(270deg);
  width: 25%;
  height: 25%;
}

.container {
  width: 100%;
}

.banner {
  height: 7vw;
  position: relative;
}

.maindiv {
  text-align: center;
}

.text {
  text-align: right;
  padding: 2%;
}

.slider {
  position: relative;
  margin: 0 auto;
  height: 50vh;
  overflow: hidden;
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.nextArrow {
  position: absolute;
  top: 40%;
  right: -7%;
  z-index: 999;
}

.backArrow {
  position: absolute;
  top: 40%;
  left: -7%;
  z-index: 999;
}

.fa-arrow-right,
.fa-arrow-left {
  color: #222;
}

h2 {
  position: absolute;
  top: 3%;
  margin-left: 35%;
  color: white;
}

.navbar-nav li {
  display: inline-block;
  padding: 5px;
  font-size: 18px;
}

.navbar-nav {
  margin-left: 37%;
  margin-top: 0vw;
}

.sign-up {
  font-size: 200%;
}

.arrow {
  width: 20%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in 0.1s;
}

.navbar {
  margin-bottom: initial;
  background-color: yellowgreen;
  height: 2vw;
}

.plants-tools {
  display: inline-block;
  text-align: center;
}

.plants-tools-images {
  width: 30%;
  padding: 1%;
}

.wrapper {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #ffffff;
  background-color: #ffffff;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 1.3em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 1em;
  display: relative;
}

.emailForLogin,
.passwordForLogin {
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.emailForLogin,
.passwordForLogin {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.clickLogin {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  align-items: center;
}

.clickLogin button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.clickLogin button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.clickCancel {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  align-items: center;
}

.clickCancel button {
  background-color: #a3c4bc;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.haveNoAccount {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  align-items: center;
}

.haveNoAccount button {
  background-color: #a3c4bc;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.showHide {
  background-color: rgb(92, 194, 168);
  color: #fff;
  border: 2px solid #fff;
  width: 20%;
}

.homeButton {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  font-size: 1em;
  flex-direction: column;
  align-items: center;
}

.homeButton button {
  background-color: yellowgreen;
  color: black;
  border: 2px solid white;
  width: 100%;
  margin-top: 0em;
  padding: 8px 0px;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0em;
}

.haveAccount {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  align-items: center;
}

.haveAccount button {
  background-color: #a3c4bc;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.cancel {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  align-items: center;
}

.cancel button {
  background-color: #a3c4bc;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}
