body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  

.container {
  width: 100%;
 
}

.navcontainer {
  margin-left: 12%
}

.banner {
  height: 100%;
  position: relative;
  
}

.maindiv {
  text-align: center;
  float: center;
  background-color: white;
}

.text {
  text-align: right;
  padding: 2%;
}

.slider {
  position: relative;
  margin: 0 auto;
  height: 50vh;
  width:159vh; /* was 150vh */
  overflow: hidden;
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 200%;
}

.slide {
  display: inline-block;
  height: 80%;
  width: 50%;
}

.nextArrow {
  position: absolute;
  top: 40%;
  right: -7%;
  z-index: 999;
}

.backArrow {
  position: absolute;
  top: 40%;
  left: -7%;
  z-index: 999;
}

.fa-arrow-right, .fa-arrow-left {
  color: #222
}

h2 {
  position: absolute;
  top: 3%;
  margin-left: 35%;
  color: white;
}

/* .nav-link {
  width: 10%;
} */

.navbar-nav li,  .navbar-right li {
  display: inline-block;
  padding: 5px;
  font-size: 110%;
}

.navbar-nav {
  display: contents !important;
}

.navbar-right {
  margin-left: 60%; 
  margin-top: 1%;
}

.sign-up {
  font-size: 200%;
}

.arrow {
  width: 20%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
}

.navbar {
  margin-bottom: initial;
  background-color: yellowgreen;
  height: 2vw;
}

.plants-tools-images {
  width: 90%;
  height: 95%;
}

table {
font-size: 150%;
}

.carousel-links th{
padding: 2%;
margin-left: 0%;
}

.contact-details {
font-size: 150%;
margin-left: 13%;
}

.cus{
  margin-bottom: -2.5%;
  font-weight: bold;
  text-align: center;
  font-size: 4em;
}

.contact-details p {
float: left;
padding: 3%;
}

.strawberries, .strawberries p {
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .slider {
    display: none;
  }

  .navbar {
    display: inline-block;
  }

  .navbar-nav, .navbar-right {
    display: contents;
  }

}

