.tree-name {
  width: 100%;
  border-bottom: 0.0625em solid silver;
  padding: 0.95em;
}

.tree-name h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 4em;
}

.tree-image {
  padding: 0.95%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0.0625em solid black;
}

.header {
  width: 100%;
  border-top: 0.0625em solid silver;
  padding: 0.95em;
}

.header-name p {
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
}

.header-content p {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 1%;
  margin-bottom: 0;
}

.header-name-sub p {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0;
}